<%- include('partials/header') %>

    <section class="vh-100 bg-image">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="login-form-title">Login</h2>
                            <form action="/login" method="POST" id="login-form">

                                <div class="form-outline mb-4">
                                    <input type="text" name="username" id="form1Example13"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="form1Example13">Username</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="hidden" name="useremail" id="form1Example23"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="password" id="form1Example23"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="form1Example23">Password</label>
                                </div>

                                <% if (error) { %>
                                    <div class="alert alert-danger err-message" role="alert"
                                        style="visibility: visible;">
                                        <p>
                                            <%= error %>
                                        </p>
                                    </div>
                                    <% } else { %>
                                        <div class="alert alert-danger err-message" role="alert"
                                            style="display: none;">
                                            <p>
                                                <%= error %>
                                            </p>
                                        </div>
                                        <% } %>

                                            <button type="submit"
                                                class="btn btn-login btn-lg btn-block login-btn">Login</button>
                            </form>
                            <!-- Socials -->
                            <div class="row socials">
                                <div class="col-md-12 google">
                                    <a class="btn btn-primary btn-google" href="/auth/google"><img
                                            src="https://img.icons8.com/color/16/000000/google-logo.png">
                                        Google Login</a>
                                </div>
                                <div class="col-md-12 facebook">
                                    <a class="btn btn-primary btn-facebook" style="background-color: #3b5998;"
                                        href="/auth/facebook" role="button"><i class="fab fa-facebook-f"></i>
                                        Facebook Login</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="/register"
                            class="fw-bold text-body"><u>Register</u></a></p>
                </div>
            </div>
        </div>
    </section>


    <%- include('partials/header') %>