<%- include('partials/header') %>

<div class="vh-100 jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered Secrets!</h1>

    <% usersWithSecrets.forEach(user => { %>
      <div class="card secret-card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%- user.secret.secretTitle %></h5>
          <p class="card-text"><%- user.secret.secretBody %>.</p>
        </div>
      </div>
    <% }); %>
    <hr>
    
    <a class="btn btn-light btn-lg  gradient-custom-4" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg  gradient-custom-4" href="/submit" role="button">Submit a Secret</a>
   
  </div>
</div>


<%- include('partials/footer') %>
